* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    color: #2B2D42;
    font-weight: 400;
}

.app-container {
    height: 100vh;
    background: #424651;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.header-container {
    margin-bottom: 30px;
}

h1 {
    font-size: 2.5em;
    color: #EDF2F4;
    text-align: center;
}

.content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px;
    width: 66%;
    background-color: #EDF2F4;
    border-radius: 5px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .35);
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}

.form input {
    display: none;
}

.inputs-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

@media (min-width: 820px) {
    .inputs-container {
        flex-direction: row;
        margin-left: 1rem;
    }
    .guess-container:not(:last-child) {
        margin-right: 30px;
    }
}

.input-label {
    font-size: .9em;
    cursor: pointer;
    position: relative;
}

.radio-button {
    height: 1rem;
    width: 1rem;
    border: 2px solid #2B2D42;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: -1.5em;
    top: 0;
}

.radio-button::after {
    content: "";
    height: .5rem;
    width: .5rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2B2D42;
    opacity: 0;
    transition: all .2s;
}

.form input:checked ~ .input-label .radio-button:after {
    opacity: 1;
}

.guess-container {
    padding: 3px;
}

.btn {
    width: 100px;
    margin: 15px;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    color: #EDF2F4;
    background: #424651;
    border: none;
    font-size: 16px;
}

.btn:hover {
    background: #2B2D42;
    -webkit-transition: .3s;
    transition: .3s;
}

.flag-container {
    margin-top: 15px;
    width: 70%;
}

.flag-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 1rem rgba(0,0,0, .25);
}

.footer {
    padding: 1em;
    position: fixed;
    bottom: 0;

}

.footer a {
    color: #EDF2F4;
    font-size: .8em;
    text-decoration: none;
}