* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    color: #777;
    font-weight: 400;
}

.app-container {
    height: 100vh;
    background: #424651;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.header-container {
    margin-bottom: 30px;
}

h1 {
    font-size: 4.25em;
    color: #21FA90;
}

.content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px;
    width: 66%;
    background-color: #21FA90;
    border-radius: 5px;
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.inputs-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.guess-container {
    margin-left: 15px;
}

.input-label {
    margin-left: 5px;
}

.btn {
    width: 100px;
    margin: 15px;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    color: #21FA90;
    background: #424651;
    border: none;
    font-size: 16px;
}

.btn:hover {
    background: #3b3e45;
    -webkit-transition: .3s;
    transition: .3s;
}

.flag-container {
    margin-top: 15px;
}

.flag-img {
    width: 500px;
    border-radius: 5px;
    border: 2px solid #424651;
}